/* Estilo para o cabeçalho */
.cabecalho-personalizado {
    background-color: #212529; /* Fundo escuro */
    color: #fff; /* Texto branco */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para destacar o cabeçalho */
  }
  
  /* Centralizar e estilizar o texto */
  .cabecalho-personalizado h1 {
    font-family: 'Georgia', serif;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin: 0;
    padding: 10px 0;
    text-align: center;
  }
  
  /* Ajuste para o cabeçalho fixo no topo */
  .fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1030; /* Certifica-se de que o cabeçalho esteja acima de outros elementos */
  }
  
  /* Ajuste do padding para que o conteúdo da página não fique por baixo do cabeçalho */
  body {
    padding-top: 80px; /* Ajuste o valor conforme a altura do cabeçalho */
  }