/* Estilos do menu de navegação */
.navbar {
    position: fixed; /* Fixa o menu na tela */
    top: 50%; /* Posiciona o topo do menu na metade da altura da tela */
    left: 0; /* Posiciona o menu na borda esquerda */
    transform: translateY(-50%); /* Centraliza verticalmente o menu */
    width: 250px; /* Define a largura do menu */
    background-color: #343a40; /* Cor de fundo do menu */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra para destaque */
    z-index: 1000; /* Garante que o menu fique acima de outros elementos */
  }
  
  .nav-link {
    color: #fff; /* Cor do texto dos links */
    font-size: 1rem; /* Tamanho da fonte */
    transition: color 0.3s; /* Transição suave para hover */
  }
  
  .nav-link:hover, .nav-link.active {
    color: #f8f9fa; /* Cor do texto quando ativo ou em hover */
    background-color: #495057; /* Cor de fundo quando ativo ou em hover */
    border-radius: 4px; /* Bordas arredondadas */
  }
  
  .navbar-brand {
    font-size: 1.5rem; /* Tamanho da fonte da marca */
    color: #fff; /* Cor da marca */
  }