<div class="pagina-principal">
    <section class="intro">
        <h2>Peaky Blinders</h2>
        <p>
            "Peaky Blinders" é uma série de televisão britânica de drama histórico
            criada por Steven Knight. A série é ambientada em Birmingham, Inglaterra,
            e segue as façanhas da gangue Peaky Blinders após a Primeira Guerra Mundial.
            A gangue, liderada pelo astuto e carismático Thomas Shelby, é conhecida por
            costurar lâminas de barbear nas abas de seus chapéus, o que lhes dá seu nome distinto.
        </p>
    </section>

    <section class="background">
        <h3>Contexto Histórico</h3>
        <p>
            A história começa em 1919, na esteira da Primeira Guerra Mundial, em um período de agitação social,
            revoluções políticas e rápidas mudanças tecnológicas. Os Peaky Blinders são uma das várias gangues em
            Birmingham, mas diferenciam-se pela sua ambição e inteligência, personificadas em seu líder, Thomas Shelby.
            Ele é um veterano de guerra marcado por suas experiências no conflito e usa sua posição para expandir o
            poder da gangue.
        </p>
    </section>