<section class="temporadas">
    <h2>Temporadas de Peaky Blinders</h2>

    <div class="temporada">
        <img src="https://media.fstatic.com/2KkcGvuzvTGsoL_J8bGk6lOFfSE=/322x478/smart/filters:format(webp)/media/movies/covers/2019/11/peaky-blinders-544d8965810d3.jpg"
            alt="Temporada 1">
        <h3>Temporada 1</h3>
        <p>A primeira temporada de "Peaky Blinders" estreou em 2013 e apresenta a ascensão inicial da gangue Shelby em
            Birmingham após a Primeira Guerra Mundial. Thomas Shelby, o líder da gangue, começa a expandir seus negócios
            enquanto lida com uma série de desafios e rivalidades.</p>
    </div>

    <div class="temporada">
        <img src="https://media.fstatic.com/LajxCTOU2997vsWcB5WoDbI1eec=/322x478/smart/filters:format(webp)/media/movies/covers/2014/10/peaky-blinders-2a-temporada_t94484.jpg"
            alt="Temporada 2">
        <h3>Temporada 2</h3>
        <p>A segunda temporada se aprofunda na expansão dos negócios dos Shelby, que começam a atrair a atenção de
            figuras poderosas e perigosas. A temporada explora novos conflitos, alianças e a crescente influência de
            Thomas Shelby na sociedade.</p>
    </div>

    <div class="temporada">
        <img src="https://media.fstatic.com/CIdJcxFK3P7D8iuraVAEPU8EjKo=/322x478/smart/filters:format(webp)/media/movies/covers/2016/08/peaky3__08190_zoom.jpg"
            alt="Temporada 3">
        <h3>Temporada 3</h3>
        <p>Na terceira temporada, a gangue enfrenta uma série de desafios mais complexos enquanto se envolve em uma
            conspiração que ameaça sua sobrevivência. As tensões aumentam e novos inimigos surgem, levando a confrontos
            intensos e dramáticos.</p>
    </div>

    <div class="temporada">
        <img src="https://media.fstatic.com/bn6Apt2vVuqGT9dt-eo5B0FSBb4=/322x478/smart/filters:format(webp)/media/movies/covers/2018/01/hrH_Cmz7ANwBAgJrI2XJOkHfZAD1bvVV1IF2zZ3U0Bs_hngQZog.png"
            alt="Temporada 4">
        <h3>Temporada 4</h3>
        <p>A quarta temporada traz um novo nível de conflito para os Shelby, com a chegada de uma nova ameaça que coloca
            toda a família em perigo. As intrigas políticas e as batalhas pessoais aumentam, trazendo novas reviravoltas
            à trama.</p>
    </div>

    <div class="temporada">
        <img src="https://media.fstatic.com/B-R-TunWqp9lv6Bk49es_QfxWi8=/322x478/smart/filters:format(webp)/media/movies/covers/2019/09/12276566-5814704865862259s.jpg"
            alt="Temporada 5">
        <h3>Temporada 5</h3>
        <p>A quinta temporada se concentra na crescente influência de Thomas Shelby, que enfrenta novas pressões e
            desafios em um cenário de instabilidade política e social. A temporada explora as consequências das escolhas
            de Thomas e o impacto de suas ações na família e nos negócios.</p>
    </div>

    <div class="temporada">
        <img src="https://media.fstatic.com/ItiKiu9g2ju3dhI_k393ZKKKu9E=/322x478/smart/filters:format(webp)/media/movies/covers/2022/03/Peaky-Blinders-Season-6-.jpg"
            alt="Temporada 6">
        <h3>Temporada 6</h3>
        <p>A sexta temporada encerra a saga dos Peaky Blinders, trazendo a conclusão da trajetória de Thomas Shelby e da
            gangue. A temporada aborda a resolução dos conflitos pendentes e o destino final dos personagens principais.
        </p>
    </div>
</section>