

/* Container principal para organizar o layout */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que o contêiner ocupe pelo menos a altura total da tela */
}


.main-content {
  display: flex;
  flex: 1; /* Faz com que o conteúdo principal se expanda para preencher o espaço restante */
}